# IDE
.idea
.project
.settings

# Composer files
composer.phar
composer.lock
vendor/

# Local configs
config/autoload/*local.php
config/parameters/*
!config/parameters/.gitkeep

# Binary gettext files
*.mo

# Data
data/logs/*
!data/logs/.gitkeep
data/cache/*
!data/cache/.gitkeep
data/DoctrineORMModule/

# Build artifacts
data/build
data/docs

# SASS
.sass-cache
public/css/main.min.css

# Independent modules
module/ZasDev