
.login-brand {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 200px;
  background: $brand-success;
  z-index: -10;
}

.login-container {
  max-width: 450px;
  padding-top: 115px;
  margin: 0 auto;

  @media #{$small} {
    padding-top: 70px;
  }
  @media #{$xsmall} {
    padding-top: 20px;
  }

  .login-box {
    border: 1px solid #eee;
    background-color: lighten(#eee, 4.5%);
    padding: $default-space 0;
    overflow: hidden;
    @include border-radius(3px);
    @include box-shadow(0px 2px 2px rgba(0, 0, 0, 0.3));
  }

  h2 {
    margin-bottom: $default-space * 1.5;
    text-align: center;
    @media #{$small} {
      font-size: 18px;
    }
    @media #{$xsmall} {
      font-size: 14px;
    }
  }

  .logins {
    width: 200%;
    margin-top: $default-space;
    @include transition(margin-left ease-in .3s);
  }
  .login {
    float: left;
    width: 50%;
    padding: 0 $default-space;
  }
  .social-login {
    > .btn-social {
      margin-top: 5px;

      &:first-child {
        margin-top: 0;
      }
    }
  }

  .login-alert {
    margin-bottom: 0;
    margin-top: 20px;
  }
}
