* {
  outline: none !important;
}

// Bootstrap resets
a {
  color: $brand-success;
  &:hover, &:focus {
    color: darken($brand-success, 15%);
  }
}

.form-control:focus {
  border-color: $brand-success;
  @include box-shadow(inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba($brand-success, .6));
}