
@import "compass/layout/sticky-footer";
@include sticky-footer($footer-height);

#footer {
  .inner-footer {
    background: lighten(#eee, 2%);
    border-top: 1px solid #fff;
    line-height: $footer-height - 1px;
    @include box-shadow(0 -1px 0 #eee);
  }
}