<?xml version="1.0"?>
<!--
/*
 * This file is part of ZasDev Reader.
 *
 * ZasDev Reader is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * ZasDev Reader is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with ZasDev Reader. If not, see <http://www.gnu.org/licenses/>.
 */
-->
<phpunit bootstrap="./bootstrap.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         verbose="true"
         stopOnFailure="false"
         processIsolation="false"
         backupGlobals="false"
         syntaxCheck="true">

    <testsuite name="Module test">
        <file>./ModuleTest.php</file>
    </testsuite>
    <testsuite name="Entities tests">
        <directory>./Entity</directory>
    </testsuite>
    <testsuite name="Services tests">
        <directory>./Service</directory>
    </testsuite>
    <testsuite name="Exceptions tests">
        <directory>./Exception</directory>
    </testsuite>
    <testsuite name="Events tests">
        <directory>./Event</directory>
    </testsuite>

    <filter>
        <whitelist>
            <directory suffix=".php">../src</directory>
        </whitelist>
    </filter>

</phpunit>