<?php
return array(
    
    // Assets
    'assets' => array(
        'js'    => array(
            'inline'    => array(
                'main' => array(
                    'name' => 'main.js',
                ),
            ),
        )
    ),
    
);
