<?php
return array(

    // Doctrine parameters
    'doctrine' => array(
        // Entity mapping driver
        'driver' => array(
            'application_entities' => array(
                'cache' => 'array',
            ),
            'auth_entities' => array(
                'cache' => 'array'
            ),
            'rss_entities' => array(
                'cache' => 'array',
            ),
        ),
        // Database connection params
        'connection' => array(
            'orm_default' => array(
                'driverClass' =>'Doctrine\DBAL\Driver\PDOMySql\Driver', // MySQL
//                'driverClass' =>'Doctrine\DBAL\Driver\PDOPgSql\Driver', // PostgreSQL
//                'driverClass' =>'Doctrine\DBAL\Driver\PDOSqlite\Driver', // Sqlite

                'params' => array(
                    'host'          => 'localhost',
                    'port'          => '3306',
                    'user'          => '',
                    'password'      => '',
                    'dbname'        => '',
                    'driverOptions' => array(
                        PDO::MYSQL_ATTR_INIT_COMMAND => 'SET NAMES utf8'
                    ),
                )
            )
        ),
    )

);
