<?php
return array(

    'EddieJaoude\Zf2Logger' => array(
        'registerErrorHandler' => false,

        'writers' => array(
            'standard-file' => array(
                'filter' => \Zend\Log\Logger::INFO
            ),
            'chrome-console' => array(
                'adapter'  => 'Zend\Log\Writer\ChromePhp',
                'filter' => \Zend\Log\Logger::INFO,
                'enabled' => true,
                'options'  => array(
                    'output' => new \Zend\Log\Writer\ChromePhp\ChromePhpBridge()
                ),
            ),
            'firefox-console' => array(
                'adapter'  => 'Zend\Log\Writer\FirePhp',
                'filter' => \Zend\Log\Logger::INFO,
                'enabled' => false,
                'options'  => array(
                    'output' => new \Zend\Log\Writer\FirePhp\FirePhpBridge(new FirePHP())
                ),
            )
        )
    )

);
